<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
        <link rel="icon" href="/images/weather_logo.png">

    <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by JAI NIRESH J.
        It uses geocoding and weather fetching APIs from Mapbox and WeatherStack respectively.
      </p>
    <img class="portrait" src="/images/me.jpeg">
    </div>
    {{>footer}}
  </body>

</html>
