<!DOCTYPE html>
<html>
  <head>
    <title>Support and help</title>
        <link rel="icon" href="/images/weather_logo.png">

    <link rel="stylesheet" href="/css/styles.css"> 

  </head>
  <body>
    <div class="main-content">
    {{>header}}
    {{helptext}}
    </div>
    {{>footer}} 
  </body>
</html>