<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/images/weather_logo.png">
    <link rel="stylesheet" href="/css/styles.css"> 
   
  </head>
  <body>
    <div class ="main-content">
      {{>header}}
      <p>Forecasting site !</p>
      <form>
        <input placeholder="Enter the location to search">
        <button>Go!</button>
      </form>

      <p id ="message-1"></p>
      <p id="message-2"></p>
      <p id="message-3"></p>
      <p id="message-4"></p>
      <p id="message-5"></p>
    </div>
    
    {{>footer}}

     <script src ="/js/app.js"></script>
  </body>

</html>